body {
  font-family: 'Patrick Hand SC', cursive;
}

nav div li a {
  color: #50BC96;
}

nav div li a:hover {
  color: #A7BDAB;
}

.btn {
  background-color: #50BC96;
}

.btn:hover {
  background-color: #A7BDAB;
}

#home {
  background: linear-gradient(rgba(57, 187, 144, 1), rgba(240, 128, 128, 0.5));
  min-height: 100vh;
  color: #031727;
}

#me {
  margin-top: 55%;
}

.text-home {
  margin-top: 13%;
}

.p-home {
  font-size: 120%;
}

/*.btn-go {
  align-self:center;
  background:transparent;
  padding:0.1rem 1.2rem;
  transition:all .5s ease;
  color:#031727;
  font-size:3rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.4);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 2px #031727;
  cursor: pointer;
  margin-top: 2%;
}

.btn-go:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.6);

}*/

#about {
  background-image: url(../images/teclado.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
  min-height: 100vh;
}

.skills {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 11%;
}

.skill {
  font-size: 650%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contSkill {
  margin-top: 2.5%;
}

#projects {
  background: linear-gradient(to right, rgba(58, 97, 134, 0.7), rgba(137, 37, 62, 0.9));
  min-height: 100vh;
  color: #031727;
}

.text-projects {
  padding-top: 8%;
  color: white;
}

.cont-projects {
  padding-top: 5%;
}

.card {
  margin-bottom: 5%;
}

.card-text {
  height: 5rem;
}

#contact {
  background-image: url(../images/contacto2.jpg);
  min-height: 100vh;
  background-position: 25% 70%; 
  background-repeat: no-repeat;
  background-size: cover;
}

.text-contact {
  color: white;
  padding-top: 8%;
  padding-bottom: 3%;
}

.icont {
  color: white;
  font-size: 450%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.icont:hover {
  color: #50BC96;
}

.text-mail {
  color: white;
}


